ul,li{
    margin:0px; 
    padding:0px; 
    list-style:none;
}

li {
    cursor: pointer;
}

ul#img_list{
    width:700px;
}

ul#img_list li{
    float:left; 
    margin:10px;       
}

div#grayLayer{          
    height:100%; 
    width:100%; 
    position:absolute; 
    left:0; 
    top:0;      
    background:black; 
    opacity:0;
}   

div#overLayer{      
    width:650px; 
    height:443px; 
    position:absolute; 
    top:50%; 
    left:50%;  
    margin-top:-221px;
    margin-left:-325px; 
}